{% extends "base.html" %}

{% block title %}Account Details{% endblock %}

{% block content %}
<div class="container">
    <h2>Account Details</h2>
    
    <table class="table table-bordered">
        <tr>
            <th>Username</th>
            <td>{{ user_info[0] }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ user_info[1] }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ user_info[2] }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user_info[3] }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td><strong class="text-primary">{{ user_info[4] }}</strong></td>
        </tr>
    </table>

    <a href="{{ url_for('boundary.home') }}" class="btn btn-secondary">Back to Home</a>
</div>
{% endblock %}
