{% extends "base.html" %}

{% block title %}Forget Password{% endblock %}

{% block content %}
    <div class="formContainer">
        <h1>Forget Password</h1>
        <form class="forms" onsubmit="handleFormSubmit(event)">
            <div class="formsGrp">
                <label for="username" class="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="formsGrp">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="supportLinks">
                <a href="{{ url_for('boundary.contactUs') }}">Contact Support</a>
                <span>Forgot <a href="{{ url_for('boundary.forgetUsername') }}">username</a>?</span>
            </div>
            <div class="centerContainer">
                <button type="submit">Next</button>
            </div>
        </form>
        <div class="signUpText">New here?</div>
        <div class="signUpWrapper">
            <button onclick="window.location.href='{{ url_for('boundary.register') }}'">Sign Up</button>
        </div>
    </div>
{% endblock %}
