Flask==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-PyMongo==3.0.1
Flask-WTF==1.2.1
python-dotenv==1.0.1
pymongo==4.11.1
Werkzeug==3.0.2
requests==2.31.0
WTForms==3.1.2
gunicorn==21.2.0
apscheduler==3.10.4
flask-cors==4.0.0
