{% extends "base.html" %}
{% block content %}
    <h2 style="text-align:center">Welcome to the Homepage</h2>
    <h3 style="text-align:center">Getting Started to our Platform? Feel free to explore these videos to learn more!</h3>

    <div class="video-grid">
        {% if videos %}
            {% for video in videos %}
                <div class="video-card">
                    <video controls>
                        <source src="{{ url_for('static', filename='uploads/videos/' + video.video_name) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <h5>Name: {{ video.title }}</h5>  
                    <h5>Uploaded By: {{ video.username }}</h5>  
                </div>
            {% endfor %}
        {% else %}
            <p style="text-align:center">No videos available.</p>
        {% endif %}
    </div>

    <h3 style="text-align:center">Look on how these Avatars come to life and how they help students to learn!</h3>
    <div class="avatar-grid">
        {% if avatars %}
            {% for avatar in avatars %}
                <div class="avatar-card">
                    <img src="{{ url_for('static', filename=avatar.file_path) }}" alt="Avatar of {{ avatar.avatarname }}" width="150" height="150">
                    <br/>
                    <button>View Avatar Video</button>
                    <p>Avatar Name: {{ avatar.avatarname}}</p>
                    <p>Uploaded on: {{ avatar.upload_date.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p style="text-align:center">No avatars available.</p>
        {% endif %}
    </div>

    <!-- Only show classrooms if the user is a Teacher or Student -->
    {% if session.get('role') in ['Teacher', 'Student'] %}
        <h3 style="text-align:center">Classrooms</h3>
        <div class="classroom-grid">
            {% if classrooms %}
                {% for classroom in classrooms %}
                    <div class="classroom-card">
                        <h5>Classroom Name: {{ classroom.classroom_name }}</h5>
                        <h5>Classroom Description: {{ classroom.description }}</h5>
                        <form action="{{ url_for('boundary.view_classroom', classroom_name=classroom.classroom_name) }}" method="POST">
                            <button type="submit">View Classroom</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p style="text-align:center">No classrooms available.</p>
            {% endif %}
        </div>
    {% endif %}
    
    <a href="{{ url_for('boundary_sadtalker.sadtalker_form') }}" class="btn btn-primary btn-lg" style="margin-top: 20px;">
        Test SadTalker
      </a>
      
  

{% endblock %}

