{% extends "base.html" %}
{% block content %}
    <h2>Manage Classrooms</h2>
    <form action="{{ url_for('boundary.add_classroom') }}" method="POST">
        <button type="submit">Add classroom</button>
    </form>
    <div class="classroom-grid">
        {% if classrooms %}
            {% for classroom in classrooms %}
                <div class="classroom-card">
                    <h5>Classroom Name: {{ classroom.classroom_name }}</h5>
                    <h5>Classroom Description: {{ classroom.description }}</h5>
                    <h5>Classroom Capacity: {{ classroom.capacity }}</h5>
                    <h5>Number of Students Enrolled: {{classroom.student_list |length }}</h5>
                    <form action="{{ url_for('boundary.view_classroom', classroom_name=classroom.classroom_name) }}" method="POST">
                        <button type="submit">View Classroom</button>
                    </form>
                    <form action="{{ url_for('boundary.update_classroom', classroom_name=classroom.classroom_name) }}" method="POST">
                        <button type="submit">Edit Classroom</button>
                    </form>
                    <form action="{{ url_for('boundary.delete_classroom', classroom_name=classroom.classroom_name) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this classroom?');">
                        <button type="submit">Delete Classroom</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No classrooms available.</p>
        {% endif %}
    </div>
{% endblock %}
