{% extends "base.html" %}

{% block title %}View Quizzes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Quizzes for {{ classroom_name }}</h2>

    {% if quizzes %}
    <ul class="list-group">
        {% for quiz in quizzes %}
        <li class="list-group-item">
            {{ quiz.title }} 
            <a href="{{ url_for('boundary.student_attempt_quiz_page', classroom_name=classroom_name, quiz_id=quiz._id) }}" class="btn btn-primary btn-sm">
                Attempt Quiz
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="text-center">No quizzes available.</p>
    {% endif %}
</div>
{% endblock %}

